$bgColor: rgba(0, 0, 0, 0);

.finder-form {
  height: 110px;
  background-color: $bgColor;
  margin-bottom: -25px;

  .spacer {
    flex: 1 1 auto;
  }

  .full-width {
    width: 325px;
  }

  .send-button {
    margin-left: 15px;
  }
}
