$bgColor: rgba(255, 255, 255, 0);

.header {
  background-color: $bgColor;

  .header-name {
    margin: 0 15px;
  }

  .spacer {
    flex: 1 1 auto;
  }

  .selector {
    margin: 0 15px;
    min-width: 100px;
    max-width: 200px;
    font-size: 16px;
  }
}
