<app-header></app-header>

<app-organization-search
  (organization)="getRepos($event)"
></app-organization-search>

<mat-spinner *ngIf="isReposLoading == true" class="spinner"></mat-spinner>

<app-not-found
  [errorNumber]="errorHandling" 
  *ngIf="errorHandling != null"
></app-not-found>

<app-content-table
  *ngIf="btnClicked == true"
  [dataTable]="example_data"
  (projectClick)="getProjectName($event)"
></app-content-table>

<app-commits-dash
  *ngIf="repoName != null"
  [commitData]="commits_data"
  [branchesData]="branches_data"
  [orgName]="orgName"
  [repoName]="repoName"
  [incomingBranch]="incomingBranch"
  (backButtonPressed)="returnTables()"
></app-commits-dash>
